<article class="format-note">
  <div class="feature-note">
    <a href="{{ post.picture }}" data-rel="prettyPhoto">
      <img src="{{ post.picture }}" alt="Alt text" />
    </a>
  </div>
  <div class="box cf">
    <div class="entry-date" title="{{ post.created_time | time_in_words }}"><div class="number">{{ post.created_time | date: "%d" }}</div><div class="month">{{ post.created_time | date: "%b" }}</div></div>
    
    <div class="excerpt">
      <a href="{{ post.post_link }}" class="post-heading" >{{ post.name }}</a>
      <p>{{ post.message }}</p>
    </div>
    
    <div class="meta">
      <span class="format">Note</span>
      <!--<span class="comments">16 comments</span>-->
    </div>
  </div>
</article>